<html>

<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  </script>
  <style>
    .sinhala {
      display: none;
      padding: 12px 15px;
    }

    .sinhala.is-sin { display: block; } 
    .english {
      display: none;
      padding: 12px 15px;
    }

    .english.is-eng { display: block; }

    .container {
      display: flex;
      flex-direction: column;
      column-count: 2;
      flex-wrap: wrap;
      height: 510px;
    } 
    table {
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      margin: 25px 0;
      height: 2rem;
      padding: 12px 15px;
    }
    th {
      /* background: Linen; */
      width: 20rem;
      text-align: right;
      border-right: 1px solid #ddd;
    }

    tr { 
      border-bottom: 1px solid #ddd;
    }
    tr:first-child {
      border-top: none;
    }
    tr:last-child {
      border-bottom: none;
    }
  </style>

</head>

<body style="padding: 5em;">
  <p><button class="toggle-button" style="margin: 12px 15px;">English</button></p>
  <form action="http://localhost:5000/" method="post" name = "theForm">
    
    <h1 style="text-align: center;">Sri Lankan Rulers</h1>
    <p style="text-align: center;"><input id="source" type="search" name="query" placeholder="Search"/><button class="search-button" style="margin: 12px 15px;">search</button></p>
    <p><div id="result" hidden></div></p>
    <!-- <p style="text-align: center;"><input type="submit" value="search" name="form_1"/></p> -->
  </form>

  <script>
    var $toggleButton = $('.toggle-button');
    var $searchButton = $('.search-button');
    var $sinhala = $('.sinhala');
    var $english = $('.english');
    var isEnglish = false;

    $(window).load(function() {
      if (sessionStorage) {
        lang = sessionStorage.getItem("lang");
        if (lang == "eng") {
          isEnglish = !isEnglish;
          $('.english').toggleClass('is-eng');
          $toggleButton.text('Sinhala');
        } else {
          $('.sinhala').toggleClass('is-sin');
        }
      } else {
        $('.sinhala').toggleClass('is-sin');
      }
    });

    $searchButton.on( 'click', function() {
      document.theForm.submit();
    });

    $toggleButton.on( 'click', function() {
      console.log('enter function')
      isEnglish = !isEnglish;
      $('.sinhala').toggleClass('is-sin');
      $('.english').toggleClass('is-eng');
      if ( isEnglish ) {
        if (sessionStorage) {
          sessionStorage.setItem("lang", "eng");
        }
        $toggleButton.text('Sinhala');
      } else {
        if (sessionStorage) {
          sessionStorage.setItem("lang", "sin");
        }
        $toggleButton.text('English');
      }
    });
    const $source = document.querySelector('#source');
    const $result = document.querySelector('#result');

    const typeHandler = function(e) {
        $result.innerHTML = e.target.value;
        console.log(e.target.value);

        $.ajax({
            url: "/autocomplete",
            type : 'POST',
            cache: false,
            dataType: "json",
            data:{'data': e.target.value},
            success: function(html)
            {
                console.log(html)
                var _ = html
                console.log(_)
                $( "#source" ).autocomplete({
                    source: html
                });
            }
        });
    }

    $source.addEventListener('input', typeHandler)
    $source.addEventListener('propertychange', typeHandler)

    function btn_submit()
    {
        sessionStorage.setItem('Kingdom_eng', $("#source").val() )
    }


    $( document ).ready(function() {

        var data = sessionStorage.getItem('Kingdom_eng')
        $("#source").val(data);
    });

    function changeLanguage(lang) {
      location.hash = lang;
      location.reload();
    }

  </script>


  <div class="sinhala">
    {% for each in results %}
      <div class="card border-dark mb-3" style="width: 150rem;">
        <div class="card-header"><h2>{{each['name sin']}}</h2></div>
        <div class="card-body">
          <table>
            <tr>
              <th>රාජධානිය</th>
              <td>{{each['kingdom sin']}}</td>
            </tr>
            {% if each['house sin'] != "" %}
              <tr>
                <th>රාජවංශය</th>
                <td>{{each['house sin']}}</td>
              </tr>
            {% endif %}
            <tr>
              <th>පාලන කාලය</th>
              <td>{{each['reign sin']}}</td>
            </tr>
            {% if each['Temples sin'] != "" %}
              <tr>
                <th>ඉදිකල විහාරස්ඨාන</th>
                <td>{{each['Temples sin']}}</td>
              </tr>
            {% endif %}
            {% if each['irrigation work sin'] != "" %}
              <tr>
                <th>ඉදිකල වාරිමාර්ග</th>
                <td>{{each['irrigation work sin']}}</td>
              </tr>
            {% endif %}
            {% if each['Inscriptions sin'] != "" %}
              <tr>
                <th>සෙල් ලිපි සහ සන්නස්</th>
                <td>{{each['Inscriptions sin']}}</td>
              </tr>
            {% endif %}
            {% if each['other constructions sin'] != "" %}
            <tr>
              <th>වෙනත් ඉදිකිරීම්</th>
              <td>{{each['other constructions sin']}}</td>
            </tr>
            {% endif %}
            {% if each['claim to the throne sin'] != "" %}
            <tr>
              <th>සිහසුනට හිමිකම</th>
              <td>{{each['claim to the throne sin']}}</td>
            </tr>
            {% endif %}
            {% if each['description'] != "" %}
            <tr>
              <th>වැදගත් තොරතුරු</th>
              <td>{{each['description']}}</td>
            </tr>
            {% endif %}
          </table>                     
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="english">
    {% for each in results %}
      <div class="card border-dark mb-3" style="width: 150rem;">
        <div class="card-header">{{each['name eng']}}</div>
        <div class="card-body">
          <table>
            <tr>
              <th>kingdom</th>
              <td>{{each['kingdom eng']}}</td>
            </tr>
            {% if each['house eng'] != "" %}
              <tr>
                <th>House</th>
                <td>{{each['house eng']}}</td>
              </tr>
            {% endif %}
            <tr>
              <th>Reigning period</th>
              <td>{{each['reign eng']}}</td>
            </tr>
            {% if each['Temples eng'] != "" %}
              <tr>
                <th>Temples</th>
                <td>{{each['Temples eng']}}</td>
              </tr>
            {% endif %}
            {% if each['irrigation work eng'] != "" %}
              <tr>
                <th>Irrigation work</th>
                <td>{{each['irrigation work eng']}}</td>
              </tr>
            {% endif %}
            {% if each['Inscriptions eng'] != "" %}
              <tr>
                <th>Inscriptions</th>
                <td>{{each['Inscriptions eng']}}</td>
              </tr>
            {% endif %}
            {% if each['other constructions eng'] != "" %}
            <tr>
              <th>Other constriuctions</th>
              <td>{{each['other constructions eng']}}</td>
            </tr>
            {% endif %}
            {% if each['claim to the throne sin'] != "" %}
            <tr>
              <th>Claim to the throne</th>
              <td>{{each['claim to the throne eng']}}</td>
            </tr>
            {% endif %}
          </table>  
        </div>
      </div>
    {% endfor %}
  </div>
</body>