<html>

<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  </script>
  <style>
    .sinhala {
      display: block;
    }

    .sinhala.is-sin { display: none; } 
    .english {
      display: none;
    }

    .english.is-eng { display: block; }

    .container {
      display: flex;
      flex-direction: column;
      column-count: 2;
      flex-wrap: wrap;
      height: 510px;
    } 
  </style>

</head>

<body style="padding-left: 5em;">
  <form action="http://localhost:5000/" method="post" style=>
    <p>Enter Name:</p>
    <p><input id="source" type="text" name="nm" placeholder="Search" /></p>
    <p><div id="result"></div></p>
    <p><input type="submit" value="submit" name="form_1" /></p>
  </form>
  <p><button class="toggle-button">Sinhala</button></p>
  <script>
    var $toggleButton = $('.toggle-button');
    var $sinhala = $('.sinhala');
    var $english = $('.english');
    // use state variable to keep track
    var isEnglish = false;

    $toggleButton.on( 'click', function() {
      console.log('enter function')
      isEnglish = !isEnglish;
      $('.sinhala').toggleClass('is-sin');
      $('.english').toggleClass('is-eng');
      if ( isEnglish ) {
        $toggleButton.text('English');
      } else {
        $toggleButton.text('Sinhala');
      }
    });
    const $source = document.querySelector('#source');
    const $result = document.querySelector('#result');

    const typeHandler = function(e) {
        $result.innerHTML = e.target.value;
        console.log(e.target.value);

        $.ajax({
            url: "/pipe",
            type : 'POST',
            cache: false,
            dataType: "json",
            data:{'data': e.target.value},
            success: function(html)
            {
                console.log(html)
                // var data = html.buckets
                var _ = html

                // $.each(data, (index, value)=>{
                //     _.push(value.key)
                // });
                console.log(_)
                $( "#source" ).autocomplete({
                    source: html
                });
            }
        });
    }

    $source.addEventListener('input', typeHandler) // register for oninput
    $source.addEventListener('propertychange', typeHandler) // for IE8

    function btn_submit()
    {
        sessionStorage.setItem('Kingdom_eng', $("#source").val() )
    }


    $( document ).ready(function() {

        var data = sessionStorage.getItem('Kingdom_eng')
        $("#source").val(data);
    });

    function changeLanguage(lang) {
      location.hash = lang;
      location.reload();
    }

  </script>


  <div class="sinhala">
    {% for each in results %}
      <div class="card border-dark mb-3" style="width: 150rem;">
        <div class="card-header">{{each['name sin']}}</div>
        <div class="card-body">
          <table>
            <tr>
              <td>රාජධානිය</td>
              <td>{{each['kingdom sin']}}</td>
            </tr>
            {% if each['house sin'] != "" %}
              <tr>
                <td>රාජවංශය</td>
                <td>{{each['house sin']}}</td>
              </tr>
            {% endif %}
            <tr>
              <td>පාලන කාලය</td>
              <td>{{each['reign sin']}}</td>
            </tr>
            {% if each['Temples sin'] != "" %}
              <tr>
                <td>ඉදිකල විහාරස්ඨාන</td>
                <td>{{each['Temples sin']}}</td>
              </tr>
            {% endif %}
            {% if each['irrigation work sin'] != "" %}
              <tr>
                <td>ඉදිකල වාරිමාර්ග</td>
                <td>{{each['irrigation work sin']}}</td>
              </tr>
            {% endif %}
            {% if each['Inscriptions sin'] != "" %}
              <tr>
                <td>සෙල් ලිපි සහ සන්නස්</td>
                <td>{{each['Inscriptions sin']}}</td>
              </tr>
            {% endif %}
            {% if each['other constructions sin'] != "" %}
            <tr>
              <td>වෙනත් ඉදිකිරීම්</td>
              <td>{{each['other constructions sin']}}</td>
            </tr>
            {% endif %}
            {% if each['description'] != "" %}
            <tr>
              <td>වැදගත් තොරතුරු</td>
              <td>{{each['description']}}</td>
            </tr>
            {% endif %}
          </table>                     
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="english">
    {% for each in results %}
      <div class="card border-dark mb-3" style="width: 150rem;">
        <div class="card-header">{{each['name eng']}}</div>
        <div class="card-body">
          <table>
            <tr>
              <td>kingdom</td>
              <td>{{each['kingdom eng']}}</td>
            </tr>
            {% if each['house eng'] != "" %}
              <tr>
                <td>House</td>
                <td>{{each['house eng']}}</td>
              </tr>
            {% endif %}
            <tr>
              <td>Reigning period</td>
              <td>{{each['reign eng']}}</td>
            </tr>
            {% if each['Temples eng'] != "" %}
              <tr>
                <td>Temples</td>
                <td>{{each['Temples eng']}}</td>
              </tr>
            {% endif %}
            {% if each['irrigation work eng'] != "" %}
              <tr>
                <td>Irrigation work</td>
                <td>{{each['irrigation work eng']}}</td>
              </tr>
            {% endif %}
            {% if each['Inscriptions eng'] != "" %}
              <tr>
                <td>Inscriptions</td>
                <td>{{each['Inscriptions eng']}}</td>
              </tr>
            {% endif %}
            {% if each['other constructions eng'] != "" %}
            <tr>
              <td>Other constriuctions</td>
              <td>{{each['other constructions eng']}}</td>
            </tr>
            {% endif %}
          </table>  
        </div>
      </div>
    {% endfor %}
  </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> -->
</body>